<br/><br/> <br/><br/> <br/><br/>

<h2 class="mbr-section-title display-3 text-xs-center">Editing Purchase</h2>

<%= render 'form', purchase: @purchase %>
<%= image_tag @purchase.photo.url %>

<%= link_to 'Show', @purchase %> |
<%= link_to 'Back', purchases_path %>
