<br/>


    
    <div class="container">
        <div class="row">
            

<p id="notice"><%= notice %></p>

<%= image_tag(@purchase.photo.url,:size => "1000x500") %>

       
        </div>
        <%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
    </div>

