
<section class="mbr-section mbr-section-full mbr-parallax-background mbr-after-navbar" id="header1-1" data-rv-view="2" style="background-image: url(assets/accounting-2000x1330.jpg);">
    <div class="mbr-table-cell">
        <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(0, 0, 0);"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-xs-center">

                    <h1 class="mbr-section-title display-1">Welcome <br>to <br>Capital Click</h1>
                    <p class="lead"><em><strong>Capital Clicks - Managing capital, just a click away...</strong></em></p>
                     <% if current_user %>
                        <div class="mbr-buttons--center"><a class="btn btn-lg btn-black-outline btn-black" href="purchases/new"><span class="mbri-login mbr-iconfont mbr-iconfont-btn"></span>New Purchase</a>    <a class="btn btn-lg btn-white" href="/purchases">Show Purchase</a></div>

                        <div class="mbr-buttons--center"><a class="btn btn-lg btn-black-outline btn-black" href="sales/new"><span class="mbri-login mbr-iconfont mbr-iconfont-btn"></span>New Sale</a>    <a class="btn btn-lg btn-white" href="/sales">Show Sale</a></div>
                      <% end %>
                </div>
            </div>
        </div>
        <a class="mbr-arrow" href="#header1-6"><i class="fa fa-angle-down"></i></a>
    </div>
</section>




<section class="mbr-section mbr-section-full mbr-parallax-background" id="header1-6" data-rv-view="5" style="background-image: url(assets/aboutus-2000x1513.jpg);">
    <div class="mbr-table-cell">
        <div class="mbr-overlay" style="opacity: 0.9; background-color: rgb(255, 248, 224);"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-xs-center">

                    <h1 class="mbr-section-title display-1">Who Are We ?</h1>
                    <p class="lead">A private equity firm. <br>A crowd funding portal. <br>A consulting firm. <br>A financial advisor.<br><br><em><strong>All in all a COMPLETE Capital Care taker.</strong></em></p>
                    
                </div>
            </div>
        </div>
        <a class="mbr-arrow" href="#form1-8"><i class="fa fa-angle-down"></i></a>
    </div>
</section>

<section class="mbr-section mbr-section-small" id="form1-8" data-rv-view="8" style="background-color: rgb(251, 242, 190); padding-top: 6rem; padding-bottom: 6rem;">
    
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2" data-form-type="formoid">
                <h2 class="mbr-section-title display-3 text-xs-center">Leave us a query ...</h2>

                <div data-form-alert="true"><div hidden="" data-form-alert-success="true">Thanks for filling out form!</div></div>
                <form action="https://mobirise.com/" method="post" data-form-title="Leave us a query ...">
                    <input type="hidden" value="qEQqX2zSkek1bcXlJMeQya82QoHKbqYVIpkCs80cWzOOTGXALf96kmfBEgBkYObIL80FKdbkIPBMEhvmRhfFval6kIrC+ak1cFAy3I6qNkDKak0U445kOoHcyz9gDzjX" data-form-email="true">
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" required="" placeholder="Name*" data-form-field="Name">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" required="" placeholder="Email*" data-form-field="Email">
                    </div>
                    <div class="form-group">
                        <input type="tel" class="form-control" name="phone" placeholder="Phone" data-form-field="Phone">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="message" rows="7" placeholder="Message" data-form-field="Message"></textarea>
                    </div>
                    <div class="text-xs-right"><button type="submit" class="btn btn-secondary-outline">Contact Us</button></div>
                </form>
            </div>
        </div>
    </div>
</section>
<section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="form1-a" style="background-color: rgb(251, 242, 190);">
    
    <div class="mbr-section__container mbr-section__container--std-padding container" style="padding-top: 93px; padding-bottom: 93px;">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="mbr-header mbr-header--center mbr-header--std-padding">
                            <h2 class="mbr-header__text">LOGIN</h2>
                        </div>
                        <div data-form-alert="true">
                            <div class="hide" data-form-alert-success="true">Please wait while we perform login!</div>
                        </div>
                        <form action="LoginServlet" method="post" data-form-title="LOGIN">
                            <div class="form-group">
                                <input type="text" class="form-control" name="userName" required="" placeholder="USER NAME*" data-form-field="userName">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="password" required="" placeholder="PASSWORD*" data-form-field="password">
                            </div>
                            <div class="mbr-buttons mbr-buttons--center"><button type="submit" class="mbr-buttons__btn btn btn-lg btn-danger"><span class="mbri-logout mbr-iconfont mbr-iconfont-btn"></span>LOGIN</button><a class="mbr-buttons__btn btn btn-default" href="/index.html#form1-a">RESET</a></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mbr-section mbr-section-small mbr-footer" id="contacts2-9" data-rv-view="17" style="background-color: rgb(55, 56, 62); padding-top: 4.5rem; padding-bottom: 4.5rem;">
    
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <p><strong>Address</strong><br>
1234 Street Name<br>
City, AA 99999<br><br>
<strong>Contacts</strong><br>
Email: support@capitalclick.com<br>
Phone: +1 (0) 000 0000 001<br>
Fax: +1 (0) 000 0000 002</p>
            </div>
            <div class="col-xs-12 col-md-3"></div>
            <div class="col-xs-12 col-md-6">
                <div class="mbr-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0Dx_boXQiwvdz8sJHoYeZNVTdoWONYkU&amp;q=place_id:ChIJn6wOs6lZwokRLKy1iqRcoKw" allowfullscreen=""></iframe></div>
            </div>
        </div>
    </div>
</section>
  