#menu-0 .navbar-toggler {
  color: #000000;
}
#header1-1 .btn {
  font-family: 'Oxygen', sans-serif;
}
#header1-1 H1 {
  color: #bbe8cc;
  font-size: 60px;
}
#header1-1 P {
  color: #e1cfed;
  font-size: 30px;
}
#menu-a .navbar-toggler {
  color: #000000;
}
#header4-c H1 {
  color: #438943;
  text-align: center;
}
#header4-c P {
  color: #ffffff;
  font-size: 30px;
  text-align: center;
}
#header4-c I {
  color: #000000;
  font-size: 60px;
}
#header4-c B {
  color: #000000;
}
#contacts1-l P {
  color: #000000;
}
#menu-m .navbar-toggler {
  color: #000000;
}
#pricing-table1-o UL {
  color: #438943;
  font-size: 24px;
}
#pricing-table1-o DIV {
  font-size: 15px;
}
#pricing-table1-o I {
  font-size: 25px;
}
#pricing-table1-o SPAN {
  font-size: 17px;
}
#pricing-table1-o SMALL {
  font-size: 17px;
}
#contacts1-n P {
  color: #000000;
}
