<br/><br/> <br/><br/> <br/><br/>

<h2 class="mbr-section-title display-3 text-xs-center">Editing Sales</h2>

<%= render 'form', sale: @sale %>
<%= image_tag @sale.photo.url %>
<%= link_to 'Show', @sale %> |
<%= link_to 'Back', sales_path %>
